/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    /* Your styles for extra small screens go here */
    .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      left: 10px;
      z-index: 1000;
    }
    
    .whatsapp-icon img {
      width: 40px; /* Adjust the size as needed */
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
    }
    
    .whatsapp-icon img:hover {
      transform: scale(1.1);
    }
    .icon{
      height: 70px;
      width: 90px;
      margin-top: 30px;
    }
    .head{
      font-size:  15px;
      margin-bottom: 25px;
    }
    #logo{
      height: 80px;
      width: 160px;
      margin-top: 20px;
    
    }
    #follow h5{
      font-size: 10px;
      margin-top:15px ; 
      margin-left: 10px;
      display: inline-block;
   }
    #follow img{
    height: 12px;
    width: 12px;
    margin-left: 12px;
    }
    .affilated{
      font-size: 6px ;
        margin-top: 8px;
        flex-wrap: wrap;
    }
    .courses{
      height: 640px;
      width: 100%;
    }
    .clg-name{
      line-height: 12px;
    }
    video{
      height: 190px;
      width: 260px;
    }
  }
  
  /* Small devices (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Your styles for small screens go here */
    .whatsapp-icon img {
      width: 80px; /* Adjust the size as needed */
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
    }
    .icon{
      height: 80px;
      width: 80px;
    }
    #logo{
      font-size: 15px;
      text-align: center;
      margin-top: 8px;
      /* display: flex; */
      flex-wrap: wrap;
    }
    #follow{
      font-size: 15px;
      display: block;
      align-items: center;
    }
   
    #follow h5{
      font-size: 15px;
      margin-top:15px ; 
      margin-left: 10px;
      
   }
    #follow img{
    height: 20px;
    margin-left: 20px;
    width: 20px;
    
    } 
    .affilated{
      font-size: 12px ;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .courses{
      height: 400px;
      width: 100%;
    }
    video{
      height: 283px;
      width: 496px;
    }
    .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 1000;
    }
    
    .whatsapp-icon img {
      width: 20px; /* Adjust the size as needed */
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
    }
    
    .whatsapp-icon img:hover {
      transform: scale(1.1);
    }
  }
  
  /* Medium devices (desktops, laptops) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for medium screens go here */
    .navbar-nav .nav-item {
      margin-right: 17px !important;
      font-size: 15px !important;
    }
    .icon{
      margin-top:250px;
      height: 110px;
      width: 130px;
    }
    #logo{
      margin-top: 10px;
      text-align: center; 
    }
    #follow{
      font-size: 15px;
      display: flex;
      align-items: center;
    }
    #follow h5{
      font-size: 18px;
      margin-top:15px ; 
      display: block ;
    }
    .affilated-sec{
      margin-top: 15px;
    }
    #follow img{
      height: 25px;
      margin-left: 10px;
      width: 25px;
      }
      .courses{
        height: 500px;
        width: 100%;
      }
      
  }
  
  /* Large devices (large desktops, high-res laptops) */
  @media only screen and (min-width: 1025px) and (max-width: 1500px) {
    /* Your styles for large screens go here */
    .navbar-nav .nav-item {
      margin-right: 22px !important;
      font-size: 22px !important;
    }
      .icon{
        height: 80px;
        width: 110px;
      }
      #logo{
        margin-top: 10px;
        text-align: center;
      }
      #follow{
        font-size: 15px;
        display: flex;
        align-items: center;
      }
      #follow h5{
        font-size: 18px;
        margin-top:15px ; 
        /* margin-left: 10px; */
        display: block  ;
        /* display: flex; */
      }
      .affilated-sec{
        margin-top: 15px;
      }
      #follow img{
        height: 25px;
        margin-left: 10px;
        width: 25px;
        }
        .courses{
          height: 100px;
          width: 100%;
        }
  }
  
  /* Extra large devices (4k monitors, large desktops) */
  @media only screen and (min-width: 1201px) {
    /* Your styles for extra large screens go here */

    .icon{
      height: 80px;
      width: 120px;
      /* height="80px" width="110px" */
    }
    #logo{
      margin-top: 10px;
      text-align: center;
    }
    #follow{
      font-size: 15px;
      display: flex;
      align-items: center;
    }
    #follow h5{
      font-size: 25px;
      /* margin-top:15px; */
      align-items: center;
      /* margin-left: 10px; */
      display: block  ;
      /* display: flex; */
    }
    .affilated-sec{
      margin-top: 15px;
    }
    #follow img{
      height: 30px;
      margin-left: 10px;
      width: 30px;
      }
  }
